<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<import resource="classpath:resources/spring-security.xml" />
	
	<!-- <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />  -->
	
	<!-- This tag registers the DefaultAnnotationHandlerMapping and
         AnnotationMethodHandlerAdapter beans that are required for Spring MVC  
    <mvc:annotation-driven/> -->
	
	<!-- This tag allows for mapping the DispatcherServlet to "/" 
    <mvc:default-servlet-handler/>-->
    
    <!-- resources exclusions from servlet mapping 
	<mvc:resources mapping="/assets/**" location="/assets/"/>-->
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" /> 
		<property name="url" value="jdbc:postgresql://localhost:5432/batchdb" /> 
		<property name="username" value="postgres" /> 
		<property name="password" value="post@123" />
	</bean>
 
 	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.spring.domain.ModelSub</value>
				<value>com.spring.domain.User</value>
				<value>com.spring.domain.Role</value>
				<value>com.spring.domain.Constant</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="connection.autocommit">true</prop>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.PostgreSQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">createOrUpdate</prop>
				<prop key="org.hibernate.FlushMode">AUTO</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.transaction.flush_before_completion">true</prop>
				<prop key="hibernate.transaction.auto_close_session">true</prop>
				<prop key="connection.autocommit">true</prop>
			</props>
		</property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>

